$font: "Source Sans Pro", sans-serif;
$header-color: rgb(61, 61, 146);
$font-color: white;

body > header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $header-color;
  background-image: url("../images/header-background.png");
}

header > div > img {
  margin-top: 90px;
  height: 200px;
}

header > div > h2 {
  margin-top: 20px;
  color: $font-color;
}

header > div > h2 > span {
  font-weight: bold;
}

@media only screen and (max-width: 590px) {
  body > header {
    background-image: none;
    height: 120px;
    justify-content: flex-end;
  }

  header > div > img {
    display: none;
  }

  header > div > h2 {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  body > header {
    width: 35%;
    margin-top: 2.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
