$background-color: #e3e2e0;
$error-message-color: red;

.new-tweet {
  display: none;
}

.new-tweet > form {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
}

form > label {
  font-weight: 600;
  font-size: 0.8em;
  color: rgb(111, 109, 109);
}

#tweet-text {
  background-color: $background-color;
  overflow: auto;
  resize: none;
  height: 35px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 3px;
  border-bottom-color: rgb(82, 82, 82);
  font-size: 0.7em;
  padding-bottom: 40px;
  margin-top: 0.5em;
}

#tweet-text:focus {
  outline: 0;
}

#tweet-text::-webkit-scrollbar {
  display: none;
}

form {
  position: relative;
}
.fa-twitter {
  display: none;
  position: absolute;
  z-index: 1;
  color: rgb(124, 124, 222);
  width: 100%;
}
.fadingEffect {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #e3e2e0;
  margin-top: 0;
}

.fa-envelope {
  color: rgb(214, 77, 77);
  display: none;
  position: absolute;
  margin-left: 50%;
  margin-top: 30px;
  width: 100%;
}

@keyframes moveEnvelope {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0) translateY(60%);
  }
  100% {
    transform: translateX(70%) translateY(-110%);
  }
}

@keyframes hideBox {
  /* Chrome, Safari */
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(0) translateY(-100%);
  }
  50% {
    transform: translateX(50%) translateY(0);
  }
  100% {
    transform: translateX(110%) translateY(-100%);
  }
}

form > div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee";
}

.tweet-button {
  border-radius: 8%;
  font-size: 0.7em;
  background-color: rgb(12, 87, 153);
  color: white;
  border: none;
}

.tweet-button:active {
  outline: auto;
}

.word-count {
  font-size: 0.9em;
}

.error-message-content {
  padding: 0.7em;
  width: 100%;
  border-width: 0.2em;
  border-style: solid;
  border-color: $error-message-color;
  text-align: center;
  color: $error-message-color;
  margin: auto;
  display: none;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1024px) {
  .new-tweet > form {
    margin-top: 2.5em;
  }
}
