body > header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 170, 99);
  background-image: url("../images/header-background.png");
}

header > div > img {
  margin-top: 90px;
  height: 200px;
}

header > div > h2 {
  margin-top: 20px;
  color: white;
}

header > div > h2 > span {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  body > header {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5em;
  }
}
