nav {
  height: 120px;
  width: 100vw;
  top: 0;
  color: #FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
}

nav > div {
  font-family: Bungee;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top: 60px;
  font-size: 1.5em;
}

.nav-right {
  font-size: 0.6em;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-new-tweet {
  padding: 0.5em;
}

.nav-right > span > span {
  font-weight: 600;
}

.toggle-tweet > i {
  color: red;
  padding: 0 0.3em 0.3em 0.3em;
}

@keyframes bounce {
	0%, 100% {transform: translateY(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateY(-0.3em);}
	20%, 40%, 60%, 80% {transform: translateY(0.3em);}
}

