nav {
  height: 120px;
  width: 100%;
  top: 0;
  color: #FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav > div {
  font-family: Bungee;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1.5em;
}

.nav-right > div {
  font-size: 0.6em;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.write-new-tweet {
  padding: 0.5em;
}

.toggle-tweet > i.fa-2x {
  display: none;
}

.write-new-tweet > span {
  font-weight: 600;
}

.toggle-tweet > i {
  position:relative;
  top: -0.3em;
  color: red;
  padding: 0 0.3em 0.3em 0.3em;
}

@keyframes bounce {
	0%, 100% {transform: translateY(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateY(-0.3em);}
	20%, 40%, 60%, 80% {transform: translateY(0.3em);}
}


@media only screen and (max-width: 590px) {
  .write-new-tweet {
    display: none;
  }
  .toggle-tweet > i {
    display: none;
  }
  .toggle-tweet > i.fa-2x {
    display: block;
    position:relative;
    top: 0.3em;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: rgb(61, 61, 146);
  }
}
